{% extends "layout.html" %}
<!--user form -->
{% block body %}
<form
  action="/register"
  method="POST"
  style="display: grid; margin: auto; margin-top: 40vh; width: 300px; gap: 1rem"
  autocomplete="off"
>
  <input type="text" name="firstName" placeholder="first name" autofocus />
  <input type="email" name="email" placeholder="your email" />
  <select name="sport">
    <option value="sport" selected disabled>sport</option>
    {% for sport in sports %}
    <option value="{{sport}}">{{sport}}</option>
    {% endfor %}
  </select>
  <button type="submit" style="width: 50%; justify-self: center">submit</button>
</form>
{% endblock %}
